*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 40%;
    margin: 0 auto;
    background-color: rgb(31, 31, 31);
    color: white;
    text-align: center;
    padding: 0px 10px;
    height: auto;
    margin-top: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 25px;
}

h1{
    margin-bottom: 10px;
    margin-top: 10px;
}
h2{
    color: aqua;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
}
#username{
    width: 400px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: white;
}

#email{
    width: 400px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: white;
}

#password{
    width: 400px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: white;
}

#change-password{
    width: 400px;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    color: white;
}

button{
    padding: 12px 50px;
    background-color: aqua;
    border: none;
    font-weight: bolder;
    border-radius: 20px;
}

@media (max-width:1200px){
    #username{
        width: 300px;
    }
    #email{
        width: 300px;
    }
    #password{
        width: 300px;
    }
    #change-password{
        width: 300px;
    }
}

@media (max-width:800px){
    .container{
        width: 60%;
    }
}

@media (max-width:600px){
    .container{
        width: 80%;
    }
}

@media (max-width:470px){
    .container{
        width: 90%;
    }
    #username{
        width: 250px;
    }
    #email{
        width: 250px;
    }
    #password{
        width: 250px;
    }
    #change-password{
        width: 250px;
    }
    button{
        padding: 12px 25px;
    }
}

@media (max-width:400px){
    #username{
        width: 200px;
    }
    #email{
        width: 200px;
    }
    #password{
        width: 200px;
    }
    #change-password{
        width: 200px;
    }
}